*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}



.login-page{


height:100vh;

width:100%;


background-image:

linear-gradient(
90deg,
rgba(0,0,0,0.55),
rgba(0,0,0,0.15)
),

url("/images/Login.png");


background-size:cover;

background-position:center;



display:flex;

align-items:center;

justify-content:space-between;


padding:0 90px;


}



/* LEFT */


.left-section{

width:50%;

color:white;


}



.left-section h1{


font-size:62px;

line-height:1.05;

font-weight:800;


}



.left-section h1 span{

color:#ffbf00;

}



.yellow-line{


width:110px;

height:5px;

background:#ffbf00;

margin:35px 0;


}





.feature{


display:flex;

align-items:center;

gap:25px;

margin:22px 0;


}



.icon-box{


width:65px;

height:65px;

border-radius:50%;


background:rgba(255,255,255,0.18);


display:flex;

align-items:center;

justify-content:center;


}



.icon-box svg{

width:32px;

height:32px;

}



.feature h3{

font-size:30px;

font-weight:700;

}



.feature p{

font-size:20px;

}





/* LOGIN CARD */


.login-card{


width:450px;


background:rgba(255,255,255,0.88);


border-radius:25px;


padding:45px;


backdrop-filter:blur(12px);



}



.login-card h2{


text-align:center;


font-size:42px;

color:#153250;


margin-bottom:10px;


}



.login-card>p{

text-align:center;

color:#7c8798;

margin-bottom:30px;

}




.input-box{


height:60px;

background:white;


border-radius:12px;


display:flex;

align-items:center;


gap:15px;


padding:0 20px;


margin-bottom:15px;


}



.input-box svg{

color:#7b8798;

}



.input-box input{


border:none;

outline:none;


font-size:17px;


width:100%;


background:white;


color:#333;


}





.options{


display:flex;

justify-content:space-between;


margin:15px 0 25px;


}



.options a{

color:#0866ff;

cursor:pointer;

}





.login-btn{


height:60px;

width:100%;


background:#0866ff;


border:none;

border-radius:12px;


color:white;

font-size:20px;


}



.or{


text-align:center;

margin:25px;

color:#999;

}




.uni-btn{


height:60px;

width:100%;


background:white;


border:1px solid #0866ff;


border-radius:12px;


color:#0866ff;


font-size:17px;


}




.register{


text-align:center;


margin-top:25px;


color:#7c8798;


}


.register a{

color:#0866ff;

margin-left:5px;

}